@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


body{
    background-image: linear-gradient(to right, #2E038C, #150140);
}

main {
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #11013381;
}

h1 {
    color: #5005F2;
    text-align: center;
    text-shadow: 1px 1px 2px #3602a7dc;
}

h2 {
    color: #4804D9;
}


p {
    text-align: justify;
}